%h1 Welcome #{current_teacher.email}

- if current_teacher
  .panel-body.no-padding
    .table-header.row
      .col-lg-9
      .col-lg-3
        .input-group
          %input.form-control{placeholder: 'Quick search...', type: 'text'}/
          %span.input-group-btn
            %button.btn{type: 'button'}
              %i.icon-search

      %table.table
        %thead
          %tr
            %th #
            %th First Name
            %th Last Name
            %th Email
        %tbody
          - @users.each do |user|
            %tr
              %td= user.id
              %td= user.first_name
              %td= user.last_name
              %td= user.email

- else
  = link_to 'Sign in', new_teacher_session_path, class: 'btn btn-large'