.jumbotron
  %h1 Welcome to user!!
  - if current_user
    = link_to 'Sign out', destroy_user_session_path, class: 'btn btn-large', method: :delete
    = link_to 'Edit Profile',  edit_user_registration_path, class: 'btn btn-large'
    .row-fluid.marketing
      %p
        %strong First Name:
        = current_user.first_name
      %p
        %strong Last Name:
        = current_user.last_name
      %p
        %strong Web Site:
        = current_user.website
      %p
        %strong Email:
        = current_user.email
  - else
    = link_to 'Sign up today', new_user_registration_path, class: 'btn btn-large btn-success'
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-large'