!!!
%html
  %head
    %title Kozalak | user
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        %h3.muted= link_to "kozalak", root_path

      %hr/
      = yield
      %hr/
      .footer
        %p © Kozalak 2013